.card-container1 {
    cursor: pointer;
    height: 400px;
    width: 400px;
    perspective: 800px;
    position: relative;
    transition: ease-in;
    word-wrap: break-word;
  }
  
  .card1 {
    height: 400px;
    width: 400px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all .2s ease-in-out;
  }
  
  .card1:active {
    transform: rotateY(180deg);
    transition: all .2s ease-in-out;
  }
  
  .card1 .front1 {
    height: 400px;
    width: 400px;
    backface-visibility: hidden;
    position: absolute;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #353535;
  }
  
  .card1 .back1 {
    height: 400px;
    width: 400px;
    text-align: center;
    transform: rotateY(180deg);
    background: #ccc;
  }
  
  .question1 {
    color: #fff;
    font-size: 20px;
  }
  
  .answer1 {
    color: #333;
    font-size: 1em;
    padding: 10% 10% 0 10%;
  }
  
  .description1 {
    color: rgba(200, 10, 10, 1);
    font-size: 1em;
    padding: 10%;
  }