@media all and (min-width: 480px) {
  /* :local(.container-fluid) {
    background-image: url("/image/486293.png");
  } */
  .container-login {
      background-image: url("/image/486293.png");
      /* padding-top: 100px;
      padding-right: 400px; */
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      min-height: 100vh;
      padding:0;
      margin:0;
    }
  
    .container-fluid-login form {
      margin: 0 auto;
      max-width: 200px;
    }
  }
  .control-label {
    color:black;
    font-family: monospace;
    font-size: 20px;
  }

  .logForm {
    margin-right: 40px;
    padding-bottom: 25%;
    padding-top: 5%;
  }
  .form-control {
    font-family: monospace;
  }
  .btn-lg {
    font-family: monospace;
  }
  /* :local() */